# Copy this file to .env and fill in your API keys.
# Do NOT commit your real .env file.

OPENAI_API_KEY='blablablablabla'
ANTHROPIC_API_KEY='blablablablabla'
LANGSMITH_API_KEY='bleblebleble'

# Pon en "true" solo cuando quieras gastar trazas de LangSmith
LANGSMITH_TRACING=false
