langchain
langgraph
langchain-openai
langchain-anthropic
openai
anthropic
chromadb
faiss-cpu
sentence-transformers
tiktoken
openevals
python-dotenv
jupyter
langchain-community
pypdf
langchain_chroma
langchain_core
langsmith
pandas
